* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.header h1 {
  font-size: 30px;
  align-self: center;
  color: white;
}

.trybewarts-login {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#login {
  align-self: flex-end;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  font-size: 30px;
}

main img {
  height: 500px;
  align-self: flex-start;
  text-align: right;
}

#name-lastname {
  display: flex;
}

#email-select {
  display: flex;
}
